mixin promo-article (id, content)
  -
    const imgAlt = `Slide ${id}`;

  .swiper-slide
    article.promo-article
      .promo-article__img
        picture
          source(srcset=`img/slider/promo-${id}-sm.jpg`, type="image/jpeg", media="(max-width: 788px)")
          source(srcset=`img/slider/promo-${id}-md.jpg`, type="image/jpeg", media="(max-width: 1250px)")
          img(src=`img/slider/promo-${id}.jpg`, alt=imgAlt)
      .promo-article__body
        h3.title.promo-article__title Педиятрика&nbsp;–&nbsp;это...
        .promo-article__content
          p !{content}